.album-form {
    display: flex;
    background-color: #fff;
}
.album-form-left {
    width: 250px;


}

.album-form-inputs {

    #album-name {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
        padding: 3px;
        background-color: #ffffd3;
        border: 1px inset #e9e9ae;
        width: 214px;
        height: 23px;
    }

    #album-description {
        width: 214px;
        height: 340px;
        background-color: #ffffd3;
        border: 1px inset #e9e9ae;
        margin-bottom: 10px;
    }
}

.album-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 121px;

    input, input[disabled], a {
        background-color: rgba(221, 221, 221, 1);
        color: rgba(102, 102, 102, 1);
        padding: 5px 9px;
        height: 14px;
        font-size: 12px;
        font-weight: bold;
        border-radius: 4px;
    }

    input[disabled]:hover {
        background-color: rgba(221, 221, 221, 1);
        color: rgba(102, 102, 102, 1);
    }

    input {
        background-color: rgba(0, 99, 220, 1);
        color: rgba(255, 255, 255, 1);
        box-sizing: content-box;
        margin: 0;
        width: 32px;
    }

    input:hover {
        background-color: rgba(0, 84, 189, 1);
    }

    input[disabled] {
        opacity: 0.5;
    }

    a {
        width: 50px;
        text-decoration: none;
    }

    a:hover {
        background-color: rgba(221, 221, 221, 1);
    }

    input[disabled] + a:hover {
        background-color: rgba(207, 207, 207, 1);
    }
}