// Place all the styles related to the api/photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.photo-box{
    width: 320px;
    height: 240px;
//     display: flex;
//     flex-wrap: wrap;
//     flex-direction: row;
//     margin: 0 auto;
//     align-items: flex-start;
//     display: flex;
//     flex-wrap: wrap;

}

// .inner-box{
//     width:100%;
//     height: 100%;
//     object-fit: cover;
// }


.inner-box{
  width: 100%;
  display: flex;
  
}

.inner-box:hover .photo-title{
  visibility: visible;

}

.photo-title{
  position: absolute;
  visibility: hidden;
  
  color: white;
}


  
.inner-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}