// Place all the styles related to the api/photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.photo-box{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: fit-content;
  max-width: 200px;

}


.inner-box img{
  position: relative;
  display: block;
  object-fit: cover;
  max-width: 190px;
  max-height: 100%;
  border: 2px solid white;
  
}

.inner-box:hover .photo-title{
  visibility: visible;

}

.photo-title{
  position: absolute;
  visibility: hidden;
  color: red;

}

