.photo-show-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #212124;
}

.img-photo-show{
    max-height: 400px;
    width: auto;
}

.Delete-btn{
    margin-left: 90%;
    color: #F3F5F6;
}
.Delete-btn:hover{
    color: red;
}


.photo-show-detail-container{
    
    position: relative;
    height: auto;
    width: 100%;
    background: #F3F5F6;
    padding-top: 20px;


}
.photo-show-detail-container{

    
}
.title-description{
    width: 40%;
    margin-left: 10%;
}

.title-photo-show{
    color: black;
    font-size: 20px;
}

.description-photo-show{
    color: black;
    border-bottom: 1px solid #cfd6d9;
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: 10px;
}
.comments-tag-container{
    display: flex;
    justify-content: space-between;
}

.add-comment-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 400px;
    margin-left: 36%;
}
.comment-box-photo-show{
    width: 100%;
    margin-bottom: 8px;
    resize: none;
    
}


.comment-container {
    display: flex;
    margin-top: 1%;
    margin-bottom: 0.5%;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-left: 36%;
}

.comment-container:hover {
    .comment-delete-btn{
        display: block;
    }
}

.comment-delete-btn{
    display: none;
}
.comment-delete-btn:hover{
    color: red;
}


// comment box and btn 
.comment-box-photo-show:focus{
    border: 1px solid #008ddf; 
}

.comment-box-btn{
    border: none;
    background-color:  #008ddf;
    color: white;
    font-weight: bolder;
    padding: 6px 6px 6px 6px;
    border-radius: 3px;
}

.comment-box-btn:hover{
    background-color:  #1372e8;
}



// tags input

.form-input-tag-name{
 
}

.input-tag-name:focus{
    border: 1px solid #008ddf; 
}