// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//nav logged out
.not-login-nav{
    background-color:rgba(38, 38, 38, 0.56);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    z-index: 999;
}
.signup-signout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 150px;
    margin-right: 2.4%;
}


.signupSplash-btn{
    background-color: rgb(60, 136, 204);
    border: none;
    color: white;
    padding: 6px 20px;
    text-decoration: none;
    // display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.signupSplash-btn:hover{
    color: rgb(224, 224, 224);
}

.loginSplash-btn{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.DreamerLogo{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    padding-left: 38px;
    font-family: Proxima Nova;
}
//--------------------------------------------------------------------
//nav loggen in

.logged-in-nav{
    background-color:rgba(29, 29, 29, 0.829);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    z-index: 999;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
}
.logo-dropdown-container {
    display: flex;
    width: 300px;
    justify-content: space-around;
    align-items: center;
}


.logout-upload-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.dropdown{

    .drop-down-btn{
        background-color: transparent;
        color: white;
        padding-left: 14px;
        font-weight: normal;
        font-size: 20px;
        border: none;
        text-decoration: none;
        padding: 10px;
    }

    .drop-down-btn:hover {
        color: rgb(202, 202, 202);
    }
    
    .drop-down-content{
        display: none;
        position: absolute;
        border-radius: 2px;
        background-color: white;
        min-width: 150px;
        
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .drop-down-content a {
        min-width: 150px;
        font-size: 20px;
        padding: 5px;
        text-decoration: none;
        display: block;
        color: #212124;

    }
    .drop-down-content a:hover{
        background-color: rgb(185, 185, 185);
    }
      
}

.dropdown:hover .drop-down-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav-explore{
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.nav-explore:hover {
    color: rgb(202, 202, 202);
}


.link-to-upload{
    color: #008ddf;
}

.link-to-upload:hover{
    color: #0075b9;
}

.header-button{
    background-color: rgb(121, 0, 0);
    border: none;
    color: whitesmoke;
    padding: 6px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 600;
    margin-left: 30px;
    margin-right: 25px;
}

.header-button:hover{
    background-color: rgb(192, 10, 10);   
}

//-------------------------------------------------------
//backround
.session-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    background-size: cover;
    z-index: -1;
    background-image: image-url("img3.jpg")
}


html{
    background: #F3F5F6;
}
